<!--suppress Annotator -->
<div id="items" class="shadow">
  {% if items %}
  <p>
    <span class="card-header">{{ items[0].category.name }}</span>
    <span>({{ qty }} items)</span>
  </p>
  {% for item in items %}
  <p>
    {% if 'username' in login_session and login_session['email'] == item.user.email %}
        <a href="{{ url_for('get_item', category_name=item.category.name, item_title=item.title) }}"
           class="item-title">{{ item.title }}</a>
    <div id="actions">
        <a href="{{ url_for('delete_item', item_id=item.id) }}"
           onclick="return confirm('Are you sure you want delete the item \'{{ item.title }}\'?')">
        <i class="fa fa-trash-o"></i>
      </a>
        <a href="{{ url_for('edit_item', item_id=item.id) }}">
        <i class="fa fa-pencil"></i>
      </a>
    </div>
    {% else %}
        <a href="{{ url_for('get_item', category_name=item.category.name, item_title=item.title) }}"
           class="item-title-unlogged">{{ item.title }}</a>
    {% endif %}
  </p>
  {% endfor %} {% else %}
  <h3>There are no items for this category.</h3>
  {% endif %}
</div>