<!DOCTYPE html>
<html lang="en">

<head>
  <title>Item Catalog</title>

  <meta charset="UTF-8">
  <meta name="description" content="Udacity Full Stack Web Developer Nanodegree Project">
  <meta name="keywords" content="Python, Flask, SQLAlchemy, OAuth, Udacity, Nanodegree, Full Stack Web Developer">
  <meta name="author" content="Alberto Ivo Vieira">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- NAV BAR -->
  {% include 'navbar.html' %}

  <!-- FLASH Messages -->
  {% include 'flash_messages.html' %}

  <!-- Main Content -->
  <div class="container">
    {% block content %} {% endblock %}
  </div>

  <!-- Footer -->
  {% include 'footer.html' %}

  <!-- Calling script for navbar -->
  <script src="{{ url_for( 'static', filename='js/utils.js' ) }} "></script>

</body>

</html>