<!--suppress ALL -->
<nav>
  <!-- Navbar on BIG screens -->
  <div class="bar">
    <a class="hide-desktop right" href="javascript:void(0)" onclick="toggleMenu()">
      <i class="fa fa-bars"></i>
    </a>
    <a class="logo" href="/">Catalog</a>
    {% if 'username' not in login_session %}
      <a class="hide-mobile hover-red right" href="{{ url_for('show_login') }}">Login</a>
    {% else %}
      <a id="logout" class="hide-mobile hover-red right" href='/logout'>(Logout)</a>
      <img src="{{ login_session['picture'] }}" alt="user" class="hide-mobile right navbar_pic" />
      <a href="/profile" class="hide-mobile right">Welcome, {{ login_session['username'] }}</a>
      <a href="/category/new" class="hide-mobile hover-green">Add Category</a>
      <a href="/item/new" class="hide-mobile hover-green">Add Item</a>
    {% endif %}
    <a href="/catalog.json" class="hide-mobile hover-green">JSON</a>
    <a href="/api/help" class="hide-mobile hover-green">API Help</a>
  </div>

  <!-- Navbar on SMALL screens -->
  <div id="bar-mobile" class="bar-block hide-desktop menu-mobile" style="margin-top:46px ">
    <a href="/catalog.json" class="bar-item button hover-green">JSON</a>
    <a href="/api/help" class="bar-item button hover-green">API Help</a>
    {% if 'username' not in login_session %}
      <a href="{{ url_for('show_login') }}" class="bar-item button hover-red">Login</a> {% else %}
      <div class="welcome">
        <a href="/profile">Welcome, {{ login_session['username'] }}</a>
        <img src="{{ login_session['picture'] }}" alt="user" class="navbar_pic" />
      </div>
      <a href="/category/new" class="bar-item button hover-green">Add Category</a>
      <a href="/item/new" class="bar-item button hover-green">Add Item</a>
      <a class="bar-item button hover-red" href='/logout'>Logout</a>
    {% endif %}
  </div>
</nav>