{% extends "main.html" %} {% block content %} {% include 'categories.html' %}

  <!--suppress ALL -->
  <div id="items" class="shadow">
  {% if item %}
  <p>
    <span class="card-header">{{ item.title }}</span>
    <span class="item-category">({{ item.category.name }})</span>
  </p>
  <h3 class="item-description">{{ item.description }}</h3>

  {% if item.picture_path %}
    <img src="{{ item.picture_path }}" alt="item" /> {% endif %} {% else %}
  <h3 class="item-description">No items in this category with this name.</h3>
  {% endif %} {% if 'username' in login_session and login_session['email'] == item.user.email %}
    <div id="actions" style="text-align: right; margin: 0 50px 10px 0">
      <a href="{{ url_for('item.delete_item', item_id=item.id) }}"
         onclick="return confirm('Are you sure you want delete the item \'{{ item.title }}\'?')">
      <i class="fa fa-trash-o"></i>
    </a>
      <a href="{{ url_for('item.edit_item', item_id=item.id) }}">
      <i class="fa fa-pencil"></i>
    </a>
  </div>
  {% endif %}
  <div class="registeredBy">
    <a href="/profile" style="color: black">Registered by {{ item.user.name }}</a>
  </div>
</div>

{% endblock %}