:root {
  --main-bgcolor: black;
  --main-ftcolor: white;
  --card-color: #ffeead;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 46px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

footer {
  text-align: center;
  background-color: var(--main-bgcolor);
  padding: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer p {
  color: var(--main-ftcolor);
}

.logo {
  font-style: oblique;
  font-variant: small-caps;
}

.bar {
  width: 100%;
  overflow: hidden;
  background-color: var(--main-bgcolor);
  color: var(--main-ftcolor);
}

a {
  text-decoration: none;
  color: var(--main-ftcolor);
}

.bar>a {
  padding: 12px 24px;
  float: left;
}

.bar-block .bar-item {
  width: 100%;
  display: block;
  padding: 12px 24px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.right {
  float: right !important;
}

#actions i {
  color: black;
  margin-left: 10px;
}

#actions i:hover {
  color: green;
}

.menu-mobile {
  background-color: var(--main-bgcolor);
  color: var(--main-ftcolor);
  display: none;
  top: 0;
  position: fixed;
  width: 100%;
}

.show {
   display: block !important;
 }

.hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important;
}

.hover-green:hover {
  color: #fff !important;
  background-color: #47a147 !important;
}

#categories {
  flex: 1;
  min-width: 170px;
  margin: 10px;
  background-color: var(--card-color);
}

#profile {
  width: 300px;
  margin: 20px;
  background-color: #96b2d1;
}

.navbar_pic {
  height: 40px;
  margin-left: 5px;
}

#profile p,
h1 {
  text-align: center;
}

#logout {
  font-size: 10px;
  font-style: italic;
  line-height: 17px;
}

#items {
  flex: 2;
  min-width: 300px;
  margin: 10px;
  background-color: var(--card-color);
}

#items img {
  width: 100%;
  max-width: 500px;
}

.shadow {
  -webkit-box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  box-shadow: 5px 5px 5px #666;
}

.card-header {
  font-size: 36px;
  font-weight: bolder;
  margin-left: 10px;
  color: var(--main-bgcolor);
}

.item-title {
  font-weight: bolder;
  margin-left: 20px;
  color: var(--main-bgcolor);
  float: left;
}

.item-title-unlogged {
  font-weight: bolder;
  margin-left: 20px;
  color: var(--main-bgcolor);
}

.item-category {
  margin-left: 5px;
  font-style: italic;
  color: gray;
}

.item-description {
  color: gray;
  margin: 30px;
  text-align: justify;
}

#keep-off {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin: auto;
}

#notfound {
  width: 100%;
  display: block;
  margin: auto;
}

#flash_success {
  position: absolute;
  background-color: #d4edda;
  color: #155724;
  width: 100%;
    line-height: 0;
  border-color: #c3e6cb;
}

#flash_error {
  position: absolute;
  background-color: #f8d7da;
  color: #721c24;
  width: 100%;
    line-height: 0;
  border-color: #f5c6cb;
}

#flash_primary {
  position: absolute;
  background-color: #cce5ff;
  color: #004085;
  width: 100%;
    line-height: 0;
  border-color: #b8daff;
}

#profile button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.registeredBy {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
  .card-header {
    margin-left: 5px;
  }
  .bar {
    padding: 5px;
  }
  .welcome {
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .hide-desktop {
    display: none;
  }
}