:root {
  --main-bgcolor: black;
  --main-ftcolor: white;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 46px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

footer {
  text-align: center;
  background-color: var(--main-bgcolor);
  color: var(--main-bftcolor);
  padding: 16px;
}

.logo {
  font-style: oblique;
  font-variant: small-caps;
}

.bar {
  width: 100%;
  overflow: hidden;
  background-color: var(--main-bgcolor);
  color: var(--main-ftcolor);
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: var(--main-ftcolor);
}

.bar>a {
  padding: 12px 24px;
  float: left;
}

.bar-block .bar-item {
  width: 100%;
  display: block;
  padding: 12px 24px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.right {
  float: right !important;
}

.menu-mobile {
  background-color: var(--main-bgcolor);
  color: var(--main-ftcolor);
  display: none;
  top: 0;
  position: fixed;
  width: 100%;
}

.show {
  display: block !important;
}

.hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important;
}

#categories {
  flex: 1;
  min-width: 100px;
  margin: 10px;
  background-color: #ffeead;
}

#items {
  flex: 3;
  min-width: 300px;
  margin: 10px;
  background-color: #ffeead;
}

.shadow {
  -webkit-box-shadow: 5px 5px 5px #666;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 5px 5px 5px #666;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 5px 5px 5px #666;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.card-header {
  margin-left: 10px;
}

.category-name {
  font-weight: bolder;
  margin-left: 20px;
  color: var(--main-bgcolor);
}

.item-title {
  font-weight: bolder;
  margin-left: 20px;
  color: var(--main-bgcolor);
}

.item-category {
  font-style: italic;
  color: gray;
}

.item-description {
  color: gray;
  margin-left: 30px;
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .hide-desktop {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hide-desktop {
    display: none;
  }
}