<div id="categories" class="shadow">
    <a href="/">
        <h1 class="card-header">Categories</h1>
    </a>
    {% for cat in categories %}
    <p>
        <a href="{{url_for('getItemsByCategory', category_name=cat.name)}}" class="category-name">{{ cat.name }}</a>
        {% if 'username' in login_session %}
        {% if login_session['email'] == item.user.email %}
        <div id="actions">
            <a href="{{url_for('deleteCategory', cat_id=cat.id)}}" onclick="return confirm('Removing this category \'{{ cat.name }}\' will remove all its items. Proceed?')">
                <i class="fa fa-trash-o"></i>
            </a>
            <a href="{{url_for('editCategory', category_id=cat.id)}}">
                <i class="fa fa-pencil"></i>
            </a>
        </div>
        {% endif %}
        {% else %}
        <br clear="all">
        {% endif %}
    </p>
    {% endfor %}
</div>