<!DOCTYPE html>
<html lang="en">

<head>
  <title>Item Catalog</title>

  <meta charset="UTF-8">
  <meta name="description" content="Udacity Nanodegree Project">
  <meta name="keywords" content="HTML, CSS, JavaScript, Python, Flask, SQLAlchemy, OAuth">
  <meta name="author" content="Alberto Ivo Vieira">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav>
    <div class="bar">
      <a class="hide-desktop right" href="javascript:void(0)" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
      </a>
      <a class="logo" href="/">Catalog</a>
      <a href="#" class="hide-mobile hover-red right">Login</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="bar-mobile" class="bar-block hide-desktop menu-mobile" style="margin-top:46px">
      <a href="/contact" class="bar-item button">Contact</a>
      <a href="#" class="bar-item button hover-red">Login</a>
    </div>
  </nav>

  <div class="container">
    <div id="categories" class="shadow">
      <h1 class="card-header">Categories</h1>
      {% for cat in categories %}
      <h3 class="category-name">{{ cat.name }}</h3>
      {% endfor %}
    </div>
    {% block content %} {% endblock %}
  </div>

  <!-- Calling script for navbar -->
  <script src="{{ url_for('static', filename='utils.js') }}"></script>

</body>

</html>